// color codes
$grayBackgroundColor: #e4e4e4;
$lightGrayBackgroundColor: #f3f3f3;
$whiteBackgroundColor: #fff;
$lightWhiteBackgroundColor: #fcfcfc;
$softMintGreenColor: #bde6d8;
$softPurpleColor: #dab7f3;
$softOrangeColor: #f9b6a4;
$lightBlueColor: #d9e4f6;
$primaryTextColor: #333;
$secondaryTextColor: #555;
$primaryBorderColor: rgba(0, 0, 0, 0.1);
$secondaryBorderColor: #e3e3e3;
$activeButtonColor: #a5c7c7;
// font styles
$fontFamily: Arial, sans-serif;